<section class="doi-tac">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
              <div class="dt-title ">
                <i class="fas fa-map-marker-alt fa-2x" style="color: white;"></i> &nbsp;&nbsp;
                <h1>ĐỐI TÁC</h1>
              </div>
            </div>
        </div>
        <div class="row dt-list">
            <div class="col-lg-2 col-6">
                <div class="dt-single">
                    <img src="./../../../assets/img/ebay.png">
                </div>
            </div>
            <div class="col-lg-2 col-6">
              <div class="dt-single">
                <img src="./../../../assets/img/tiki.png">
              </div>
            </div>
            <div class="col-lg-2 col-6">
              <div class="dt-single">
                <img src="./../../../assets/img/ebay.png">
              </div>
            </div>
            <div class="col-lg-2 col-6">
              <div class="dt-single">
                <img src="./../../../assets/img/tiki.png">
              </div>
            </div>
            <div class="col-lg-2 col-6">
              <div class="dt-single">
                <img src="./../../../assets/img/ebay.png">
              </div>
            </div>
            <div class="col-lg-2 col-6">
              <div class="dt-single">
                <img src="./../../../assets/img/tiki.png">
              </div>
            </div>

        </div>
    </div>
</section>
