	<div id="footer">
	  <div class="container">
	    <div class="row text-center text-xs-center text-sm-left text-md-left text-content">
	      <div class="col-xs-12 col-sm-4 col-md-4">
	        <h5>THÔNG TIN LIÊN HỆ</h5>
	        <ul class="list-unstyled quick-links">
	          <li><a href=""><i class="fa fa-angle-double-right"></i>Địa chỉ: 324 Vo Văn Kiệt</a>
	          </li>
	          <li><a href=""><i class="fa fa-angle-double-right"></i>Số điện thoại: (+84) 934 323 882</a></li>
	          <li><a href=""><i class="fa fa-angle-double-right"></i>Email: support@tctav.vn</a></li>
	        </ul>
	      </div>
	      <div class="col-xs-12 col-sm-4 col-md-4">
	        <h5>DU LỊCH NƯỚC NGOÀI</h5>
	        <ul class="list-unstyled quick-links">
	          <li><a href=""><i class="fa fa-angle-double-right"></i>Campuchia</a></li>
	          <li><a href=""><i class="fa fa-angle-double-right"></i>Thái lan</a></li>
	          <li><a href=""><i class="fa fa-angle-double-right"></i>Singapore</a></li>
	        </ul>
	      </div>
	      <div class="col-xs-12 col-sm-4 col-md-4">
	        <h5>DU LỊCH TRONG NƯỚC</h5>
	        <ul class="list-unstyled quick-links">
	          <li><a href=""><i class="fa fa-angle-double-right"></i>Hà Nội</a></li>
	          <li><a href=""><i class="fa fa-angle-double-right"></i>Hạ Long</a></li>
	          <li><a href=""><i class="fa fa-angle-double-right"></i>Ninh Bình</a></li>
	        </ul>
	      </div>
	    </div>

	    <div class="row">
	      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
	        <p class="h6">&copy All right Reversed.</p>
	      </div>
	      <hr>
	    </div>
	  </div>
	</div>
	<app-scroll-top></app-scroll-top>
